.navigation {
  padding-top:5%;
}

.tabelle {
  padding-top:10%;
}

a {
  color: black; !important
}

a:hover
a:active {
  color: white; !important
  background-color: black; !important
}

.texteingabe {
  width: 100%;
}

.breite {
  width: auto;
}
